{% extends "base.html" %}

{% block title %}Viewing {{ genome_name }}{% endblock %}

{% block content %}
<h1>Viewing genome: {{ genome_name }}</h1>
<p>
<h2>Bookmarks:</h2>
<ul>
{% for b in bookmark_l %}
 <li> <a href='./{{ b.sequence }}:{{ b.start }}-{{ b.stop }}/'> {{ b.name }}
        </a> - {{ b.sequence }}:{{ b.start }}-{{ b.stop }}, {{ b.stop - b.start }} bases
</li>
{% endfor %}
</ul>
<h2><A href='blast'>BLAST search</a></h2>
<p>
<a href='blast'>Find a genome location with BLAST.</a>
{% endblock %}
