{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block title %}Viewing interval: {{ ival.id }}:{{ ival.start }}-{{ ival.stop }}{% endblock %}

{% block sidebar %}
<a href='../'>Return to top page</a>
{% endblock %}

{% block content %}
<p>        
<h2>Interval: {{ ival.id }} from {{ ival.start }} to {{ ival.stop }}</h2>

<li>{{ ival.stop - ival.start }} bases of {{ parent_len }}</li>

<li>
<a href='../go?sequence={{ ival.id|e }}&start={{ move_left_start }}&stop={{ move_left_stop }}'>&lt;- move left</a> or

<a href='../go?sequence={{ ival.id|e }}&start={{ zoom_in_start }}&stop={{ zoom_in_stop }}'>+ zoom in +</a>
or
<a href='../go?sequence={{ ival.id|e }}&start={{ zoom_out_start }}&stop={{ zoom_out_stop }}'>- zoom out -</a>

or

<a href='../go?sequence={{ ival.id|e }}&start={{ move_right_start }}&stop={{ move_right_stop }}'>move right -&gt;</a>

</li>

<li>
<form method='POST' action='../go'>
{{ forms.submit('view') }}
{{ forms.input('sequence', value=ival.id) }} from {{ forms.input('start', value=ival.start, size=9) }} to
{{ forms.input('stop', value=ival.stop, size=9) }}
</form>
</li>

<p>
<blockquote>
<a href='../add_bookmark?sequence={{ qp(ival.id) }}&start={{ ival.start }}&stop={{ ival.stop }}'>bookmark this view</a>
</blockquote>
<p>

<!-- <ul>
{% for i, n in l %}
<li> {{ n }} features in nlmsa #{{ i }}<br>
{% endfor %}
</ul>
-->
<hr>
<a href='./png'><image src='./png' width='100%'></a>

{% endblock %}
